<%= render('lists/components/banner') %>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to(list.name, list_path(list)) %>
    </li>
  <% end %>
</ul>

<%= simple_form_for(@movie, url: search_movies_path) do |f| %>
  <%= f.input :title, as: :search %>
  <%= f.submit %>
<% end %>
