<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %>
      <%= bookmark.movie.rating %>
      <%= link_to('Remove from List', list_bookmark_path(@list, bookmark), data: { turbo_method: :delete }) %>
    </li>
  <% end %>
</ul>

<%= link_to('Add a bookmark to this list', new_list_bookmark_path(@list)) %>


<%= link_to('Destroy this list', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
