<h1><%= @list.name %></h1>


<div class="card-container movies">
  <% @list.bookmarks.each do |bookmark| %>
    <% movie = bookmark.movie %>
    <div class="card movie">
      <div class="movie-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= movie.poster_url %>)">
      </div>
      <div class="movie-info">
        <p class="title"><%= movie.title %></p>
        <p class="rating">
           -
          <%= movie.rating %>
          <i class="fa-solid fa-star" style="color: #ffff00;"></i>
        </p>
      </div>
      <div class="more-info">
        <p><%= movie.overview %></p>
      </div>
      <div class="actions">
        <div class="bookmark-comment">
          <p>
            <i class="fa-sharp fa-solid fa-quote-left" style="color: #000000;"></i>
            <%= bookmark.comment %>
          </p>
        </div>
        <div class="del-link">
          <%= link_to(list_bookmark_path(@list, bookmark), data: { turbo_method: :delete }) do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div>
<p>Bookmark a movie into: <%= @list.name %></p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie,
                    input_html: {
                      placeholder: 'Select a movie...',
                      data: {
                        controller: 'tom-select',
                        tom_select_options_value: {
                          tags: true
                          }
                        }
                      }
  %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
</div>

<%= link_to('Destroy this list', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>

<div id="review part">

  <div id="existing-reviews">
    <ul>
      <% @list.reviews.each do |review| %>
        <li>
          <%= review.rating %>
          <%= review.comment %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="new-review">
    <p>Review this list</p>
    <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating, collection: Review::ALLOWED_RATINGS %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
