<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <% movie = bookmark.movie %>
    <li>
      <%= movie.title %>
      <%= movie.rating %>
      <%= bookmark.comment %>
      <%= link_to('Remove from List', list_bookmark_path(@list, bookmark), data: { turbo_method: :delete }) %>
    </li>
  <% end %>
</ul>

<div>
<p>Bookmark a movie into: <%= @list.name %></p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie,
                    input_html: {
                      placeholder: 'Select a movie...',
                      data: {
                        controller: 'tom-select',
                        tom_select_options_value: {
                          tags: true
                          }
                        }
                      }
  %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
</div>

<%= link_to('Destroy this list', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
