<h1><%= @list.name %></h1>


<div class="card-container movies">
  <% @list.bookmarks.each do |bookmark| %>
    <% movie = bookmark.movie %>
    <div class="card movie">
      <div class="movie-image">
        <img src="<%= movie.poster_url %>" alt="movie poster">
      </div>
      <div class="movie-info">
        <p><%= movie.title %></p>
        <p><%= movie.rating %></p>
      </div>
      <div class="more-info">
        <p><%= movie.overview %></p>
      </div>
      <div class="actions">
        <div class="bookmark-comment">
          <p><%= bookmark.comment %></p>
        </div>
        <div class="del-link">
          <%= link_to('Remove from List', list_bookmark_path(@list, bookmark), data: { turbo_method: :delete }) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div>
<p>Bookmark a movie into: <%= @list.name %></p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie,
                    input_html: {
                      placeholder: 'Select a movie...',
                      data: {
                        controller: 'tom-select',
                        tom_select_options_value: {
                          tags: true
                          }
                        }
                      }
  %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
</div>

<%= link_to('Destroy this list', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>

<div id="review part">

  <div id="existing-reviews">
    <ul>
      <% @list.reviews.each do |review| %>
        <li>
          <%= review.rating %>
          <%= review.comment %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="new-review">
    <p>Review this list</p>
    <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating, collection: Review::ALLOWED_RATINGS %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
